<header
  class="
    sticky
    top-0
    z-50
    border-b
    border-gray-200
    bg-white
  "
>


<nav

class="
mx-auto
flex
max-w-7xl
items-center
justify-between
px-6
py-4
"

>


<!-- LOGO -->

<a

routerLink="/"

class="
flex
items-center
"

>

<img

src="/assets/images/Austin_Surface_Pros_Logo.svg"

alt="Austin Surface Pros"

class="
h-16
w-auto
"

>

</a>





<!-- DESKTOP NAVIGATION -->

<div

class="
hidden
items-center
gap-8
lg:flex
"

>


<a

routerLink="/"

routerLinkActive="text-blue-600"

class="
font-medium
text-gray-700
transition
hover:text-blue-600
"

>
Home
</a>




<a

routerLink="/about"

routerLinkActive="text-blue-600"

class="
font-medium
text-gray-700
transition
hover:text-blue-600
"

>
About
</a>




<a

routerLink="/services"

routerLinkActive="text-blue-600"

class="
font-medium
text-gray-700
transition
hover:text-blue-600
"

>
Services
</a>




<a

routerLink="/gallery"

routerLinkActive="text-blue-600"

class="
font-medium
text-gray-700
transition
hover:text-blue-600
"

>
Gallery
</a>




<a

routerLink="/resources"

routerLinkActive="text-blue-600"

class="
font-medium
text-gray-700
transition
hover:text-blue-600
"

>
Resources
</a>


</div>





<!-- RIGHT ACTIONS -->

<div

class="
hidden
items-center
gap-4
lg:flex
"

>


<a

routerLink="/login"

class="
text-sm
font-medium
text-gray-600
transition
hover:text-blue-600
"

>
Login
</a>




<a

routerLink="/register"

class="
rounded-lg
border
border-blue-600
px-4
py-2
text-sm
font-semibold
text-blue-600
transition
hover:bg-blue-600
hover:text-white
"

>
Register
</a>




<a

routerLink="/contact"

class="
rounded-lg
bg-blue-600
px-5
py-3
font-semibold
text-white
transition
duration-300
hover:-translate-y-1
hover:bg-blue-700
hover:shadow-lg
"

>
Request Estimate
</a>


</div>



</nav>


</header>